@model ClientLogIn.Models.ViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label class="control-label"></label>
                <select class="custom-select" asp-for="role.Name" asp-items="@ViewBag.selectrole"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.Name" class="control-label"></label>
                <input asp-for="user.Name" type="text" class="form-control" />
                <span asp-validation-for="user.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.StreetNo" class="control-label"></label>
                <input asp-for="user.StreetNo" class="form-control" />
                <span asp-validation-for="user.StreetNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.City" class="control-label"></label>
                <input asp-for="user.City" class="form-control" />
                <span asp-validation-for="user.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.ZipCode" class="control-label"></label>
                <input asp-for="user.ZipCode" class="form-control" />
                <span asp-validation-for="user.ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="user.Email" class="control-label"></label>
                <input asp-for="user.Email" type="email" class="form-control" />
                <span asp-validation-for="user.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="user.PhoneNumber" class="control-label"></label>
                <input asp-for="user.PhoneNumber" class="form-control" />
                <span asp-validation-for="user.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="user.UserName" class="control-label"></label>
                <input asp-for="user.UserName" class="form-control" />
                <span asp-validation-for="user.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="user.PasswordHash" class="control-label">Password</label>
                <input asp-for="user.PasswordHash" type="password" class="form-control" />
                @*<span asp-validation-for="user.PasswordHash" class="text-danger"></span>*@
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
