@model ClientLogIn.Models.User
@{
    ViewData["Title"] = "IndexAsync";
}

<h1>Användare</h1>


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            

        </div>




    </div>

</body>
</html>
