
/*ÖVER HÄR ÄR GEMENSAM CSS -  ----------------------------------*/



body {
    background-size: cover;
    background-image: url(http://193.10.202.77/images/hotelbilden.jpg);
}

.calendar-cell {
    height: 100px;
    width: 20px;
    border: 1px solid rgba(128, 128, 128, 0.47);
    border-radius: 5%;
}

calendar-cell-today {
    border: 1px solid #1861ac;
}

.calendar-header-cell {
    text-align: center;
    border-radius: 5%;
    border: 1px solid gray;
}

calendar-table-header p {
    font-size: 1.5rem;
}

.row-cols-7 {
    flex: 0 0 14.28571428571429%;
    max-width: 14.28571428571429%;
}

.day-shift {
    background-color: rgba(84, 214, 38, 0.60);
    color: white;
    font-size: 10px;
    /*font-weight: bold;*/
    text-align: center;
    border-radius: 3px;
}

.evening-shift {
    background-color: rgba(255, 214, 38, 0.60);
    color: white;
    font-size: 10px;
    /*font-weight: bold;*/
    text-align: center;
    border-radius: 3px;
}

.night-shift {
    background-color: rgba(252, 129, 58, 0.60);
    color: white;
    font-size: 10px;
    /*font-weight: bold;*/
    text-align: center;
    border-radius: 3px;
}

table {
    text-align: center;
}

.calendar-header-btn {
    width: 2vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

       .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.center-div{

    margin: 0 auto;
}