
/*ÖVER HÄR ÄR GEMENSAM CSS -  ----------------------------------*/



body {
    background-size: cover;
    background-image: url(http://193.10.202.77/images/hotelbilden.jpg);
    background-color: red;
}

.calendar-cell {
    height: 100px;
    width: 20px;
    border: 1px solid black;
}

calendar-cell-today {
    border: 1px solid #1861ac;
}

.calendar-header-cell {
    text-align: center;
    border: 1px solid black;
}

calendar-table-header p {
    font-size: 1.5rem;
}

.row-cols-7 {
    flex: 0 0 14.28571428571429%;
    max-width: 14.28571428571429%;
}

.day-shift {
    border: 0.5px solid black;
    background-color: #54D626;
    color: white;
    font-size: 10px;
    /*font-weight: bold;*/
    text-align: center;
    border-radius: 3px;
}

.evening-shift {
    border: 0.5px solid black;
    background-color: #FFD626;
    color: white;
    font-size: 10px;
    /*font-weight: bold;*/
    text-align: center;
    border-radius: 3px;
}

.night-shift {
    border: 0.5px solid black;
    background-color: #FC813A;
    color: white;
    font-size: 10px;
    /*font-weight: bold;*/
    text-align: center;
    border-radius: 3px;
}

table {
    text-align: center;
}

.calendar-header-btn {
    width: 2vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

       .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
